:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* General */
  --background: #ffffff;
  --surface: #f9f9f9;
  --text-primary: #000000;
  --text-secondary: #777777;
  --border-color: #ddd;

  /* App Theme */
  --primary-color: #8b7001;
  --primary-bg: #ffffff40;
  --success-color: #4caf50;
  --danger-color: #f44336;
  --information-color: #2196f3;
}

[data-theme="dark"] {
  --background: #121212;
  --surface: #1e1e1e;
  --text-primary: #f5f5f5;
  --text-secondary: #aaaaaa;
  --border-color: #333;

  --primary-color: #ffd600;
  --primary-bg: #00000040;
  --success-color: #81c784;
  --danger-color: #ef9a9a;
  --information-color: #64b5f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* hide scrollbar in all browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  overflow: -moz-scrollbars-none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  transition: 
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text-primary);
}
